%ul.sortable
  - @pages.reorder('lft').each do |page|
    %li.ui-state-default{'data-id' => page.id}
      %span.ui-icon.ui-icon-arrowthick-2-n-s
      = page

:javascript
  $('.sortable').sortable({
    update: function( event, ui ) {
      update_positions( $('.sortable').sortable( 'toArray', { attribute: 'data-id' } ));
    }
  });