<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h3>New form has been submitted.</h3>
<p>
  Please see the attachmed file.
</p>
</body>
</html>