%li{"data-asset-id" => attachment.id, :style => "float: left; max-width: 100px"}
  .attachment
    .cover-image= attachment.cover.exists? ? image_tag(attachment.cover.url, style: "max-width:80px") : image_tag("http://placehold.it/80x80&text=No%20cover", style: "max-width:80px")
    .file-name= attachment.caption.blank? ? attachment.data_file_name : attachment.caption
    = link_to_function "Delete", "delete_asset(#{attachment.id})"
