<h3 class="upload-file">
  <%= t("active_admin.cms.file_manager.edit_attachment") %>
  <% if resource.assetable.activeadmin_selleo_cms_section.attachments? %>
      <%= link_to_function t("active_admin.cms.back"), "fileManager('#{edit_admin_section_translation_path(resource.assetable.id)}')", class: "fltr" %>
  <% end %>
</h3>

<%= render partial: 'form' %>

