<h3 class="upload-file">
  <%= t("active_admin.cms.file_manager.edit_image") %>
  <% if resource.assetable.activeadmin_selleo_cms_section.images? %>
      <%= link_to_function t("active_admin.cms.back"), "fileManager('#{edit_admin_section_translation_path(resource.assetable.id)}')", class: "fltr" %>
  <% end %>
</h3>

  <%= render partial: 'form' %>

<%= link_to_function "Crop image", "cropImage(#{resource.id}, #{resource.assetable.activeadmin_selleo_cms_section.width}, #{resource.assetable.activeadmin_selleo_cms_section.height})" unless resource.data.blank? %>